# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables and secrets
.env

# Google API credentials
google_credentials_local.json
google_refresh_token.json

# Logs
*.log

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
